## Default profile
spring:
  application:
    name: AvAb
  profiles:
    active: dev
springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: method
  use-fqn: true

# spring actuator 관련 설정
management:
  endpoints:
    web:
      exposure:
        include: "prometheus"
  server:
    port: ${ACTUATOR_PORT}
  security:
    username: ${ACTUATOR_USERNAME}
    password: ${ACTUATOR_PASSWORD}
---
# Local Profile
spring:
  config:
    activate:
      on-profile: local
  datasource:
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    url: ${LOCAL_DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000
  data:
    redis:
      host: localhost
      port: 6379
# S3
cloud:
  aws:
    s3:
      bucket: avab-bucket
    credentials:
      access-key: ${S3_ACCESS_KEY}
      secret-key: ${S3_SECRET_KEY}
    region:
      static: ${REGION}
      auto: false
    stack:
      auto: false
#jwt
jwt:
  secret: ${JWT_SECRET_KEY}
  access-token-validity: ${JWT_ACCESS_TOKEN_TIME}
  refresh-token-validity: ${JWT_REFRESH_TOKEN_TIME}
#kakao
kakao:
  auth:
    client: ${CLIENT_ID}
    redirect-uri: ${REDIRECT_URI}
---
# Dev Profile
server:
  shutdown: graceful
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000
  data:
    redis:
      host: ${REDIS_URL}
      port: 6379
springdoc:
  swagger-ui:
    authentication:
      username: ${SWAGGER_USERNAME}
      password: ${SWAGGER_PASSWORD}
# S3
cloud:
  aws:
    s3:
      bucket: avab-bucket
    credentials:
      access-key: ${S3_ACCESS_KEY}
      secret-key: ${S3_SECRET_KEY}
    region:
      static: ${REGION}
      auto: false
    stack:
      auto: false
#jwt
jwt:
  secret: ${JWT_SECRET_KEY}
  access-token-validity: ${JWT_ACCESS_TOKEN_TIME}
  refresh-token-validity: ${JWT_REFRESH_TOKEN_TIME}
#kakao
kakao:
  auth:
    client: ${CLIENT_ID}
    redirect-uri: ${REDIRECT_URI}
---